.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
  top: 0%;
}
.arrow {
  width: 40px;
  height: 40px;
  top: 85%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 3px black solid;
  border-bottom: 3px black solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -12px 0 0 -12px;
  border-left: none;
  border-top: none;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

@media screen and (max-width: 425px) {
  .arrow {
    width: 20px;
    height: 20px;
    top: 95%;
  }

  .arrow:before {
    width: 11px;
    height: 11px;
    margin: -7px 0 0 -7px;
  }
}
